<app-template-one-col [title]="true">

  <ng-container class="title">
    <app-text class="text" color="color-light">
      <h1>Clients</h1>
    </app-text>
  </ng-container>

  <ng-container class="contents">
    <div>{{ collection | json }}</div>
    <app-table-light [headers]="headers">
      <tr *ngFor="let item of collection">
        <td>{{ item.typePresta }}</td>
        <td>{{ item.client }}</td>
        <td>{{ item.nbJours }}</td>
        <td [appState]="item.state">
          <select (change)="changeState(item, $event)">
            <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
          </select>
        </td>
      </tr>
    </app-table-light>
  </ng-container>

</app-template-one-col>
