@import 'theme';

.tables-light {
  .state-canceled{
    background: $color-error;
  }
  .state-option{
    background: $color1;
  }
  .state-confirmed{
    background: $color-success;
  }
  .state-active{
    background: $color-success;
  }
  .state-inactive{
    background: $color-error;
  }
}

.highlight{
  background: yellow;
}

.bg-color2{
  .tables-dark {
    .state-option{
      background: $color2;
    }
  }
}
